# Dependencies
node_modules/

# Build output
dist/

# IDE
.vscode/
.idea/

# Git
.git
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env.local
.env.*.local

# README
README.md
