name: plex-events

volumes:
  data:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: plex-events
    restart: unless-stopped
    env_file:
      - .env
      - .env.dev
      - .env.local
    ports:
      - "8888:80"
    volumes:
      - data:/var/www/html/var/
